__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env
.venv/
venv/
ENV/
env/

*.log
*.tmp
*.bak
*.swp


ollama/

.DS_Store
Thumbs.db

*.sqlite3
*.json
*.yaml
*.yml
*.zip
*.tar
*.tar.gz

# Node (caso use frontend futuramente)
node_modules/
dist/
build/

/conteudos*
/conteudos_novos
/conteudos_novos_1
/conteudos_novos_2
/feedbacks 
/meu_venv
merda.py