__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env
.venv/
venv/
ENV/
env/

*.log
*.tmp
*.bak
*.swp

chroma_langchain_db/

ollama/

.DS_Store
Thumbs.db

*.sqlite3
*.db
*.json
*.yaml
*.yml
*.zip
*.tar
*.tar.gz

# Node (caso use frontend futuramente)
node_modules/
dist/
build/

/conteudos
/conteudos_novos