__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env
.venv/
venv/
ENV/
env/

*.log
*.tmp
*.bak
*.swp


ollama/

.DS_Store
Thumbs.db

*.sqlite3
*.json
!frontend/package.json
!frontend/package-lock.json
!frontend/tsconfig.json
!frontend/tsconfig.app.json
!frontend/tsconfig.node.json
*.yaml
*.yml
*.zip
*.tar
*.tar.gz

node_modules/
dist/
build/

/conteudos*
!/conteudos_vini_02/
!/conteudos_vini_02/**
/conteudos_novos
/conteudos_novos_1
/conteudos_novos_2
/feedbacks 
/meu_venv
merda.py
/chroma_langchain_db
/pytest*
.pytest*
/contact*
